<center>
<h1>Hermoine's Magical Salon</h1>
<br>
<h2>Welcome to the best salon in the entire wizarding world. Please select one of the following links:</h2>
<a href="/stylists">Click here to view stylists</a>
<br>
<a href="/clients">Click here to view clients</a>
</center>
